$primary: #007dfa !default;
$secondary: #71809e !default;
$third: #e4e9f2 !default;
$success: #00c38c !default;
$info: #00e3e3 !default;
$warning: #ffa734 !default;
$danger: #f94d5c !default;
$light: #f7f9fc !default;
$dark: #222b45 !default;
